.imgPIline {
	BACKGROUND-IMAGE: url(../img/PI_line.gif)
}
.imgPIline2 {
	BACKGROUND-IMAGE: url(../img/PI_line.gif)
}
.imgPI1 {
	BACKGROUND-IMAGE: url(../img/PI_1.gif)
}
.imgPI2 {
	BACKGROUND-IMAGE: url(../img/PI_2.gif)
}
.imgPI3 {
	BACKGROUND-IMAGE: url(../img/PI_3.gif)
}
.imgPI4 {
	BACKGROUND-IMAGE: url(../img/PI_4.gif)
}
.imgPI5 {
	BACKGROUND-IMAGE: url(../img/PI_5.gif)
}
.imgPI6 {
	BACKGROUND-IMAGE: url(../img/PI_6.gif)
}
.imgPI7 {
	BACKGROUND-IMAGE: url(../img/PI_7.gif)
}
.imgPI1b {
	BACKGROUND-IMAGE: url(../img/PI_1b.gif)
}
.imgPI2b {
	BACKGROUND-IMAGE: url(../img/PI_2b.gif)
}
.imgPI3b {
	BACKGROUND-IMAGE: url(../img/PI_3b.gif)
}
.imgPI4b {
	BACKGROUND-IMAGE: url(../img/PI_4b.gif)
}
.imgPI5b {
	BACKGROUND-IMAGE: url(../img/PI_5b.gif)
}
.imgPI6b {
	BACKGROUND-IMAGE: url(../img/PI_6b.gif)
}
.imgPI7b {
	BACKGROUND-IMAGE: url(../img/PI_7b.gif)
}
.imgPI1c {
	BACKGROUND-IMAGE: url(../img/PI_1c.gif)
}
.imgPI2c {
	BACKGROUND-IMAGE: url(../img/PI_2c.gif)
}
.imgPI3c {
	BACKGROUND-IMAGE: url(../img/PI_3c.gif)
}
.imgPI4c {
	BACKGROUND-IMAGE: url(../img/PI_4c.gif)
}
.imgPI5c {
	BACKGROUND-IMAGE: url(../img/PI_5c.gif)
}
.imgPI6c {
	BACKGROUND-IMAGE: url(../img/PI_6c.gif)
}
.imgPI7c {
	BACKGROUND-IMAGE: url(../img/PI_7c.gif)
}
.tableSearchDiv {
	
}
.ImgPrint {
	BACKGROUND-IMAGE: url(../img/icon_print_htm3.gif)
}
.ImgBooking {
	BACKGROUND-IMAGE: url(../img/imgBooking.gif)
}
.ImgCancel {
	BACKGROUND-IMAGE: url(../img/imgCancel.gif)
}
.ImgPlate {
	BACKGROUND-IMAGE: url(../img/imgPlate2.gif)
}
.ImgCurreny {
	BACKGROUND-IMAGE: url(../img/icon_currency.gif)
}
.ImgSeats2 {
	BACKGROUND-IMAGE: url(../img/icon_seats.gif)
}
.ImgFlightStatus {
	BACKGROUND-IMAGE: url(../img/windsock.gif)
}
.ImgLogo {
	BACKGROUND-IMAGE: url(../img/logo.gif)
}
.ImgPlane2 {
	BACKGROUND-IMAGE: url(../img/connection_flights.gif)
}
.ImgPlane3 {
	BACKGROUND-IMAGE: url(../img/search_flights2.gif)
}
.ImgWarning {
	BACKGROUND-IMAGE: url(../img/warning.gif)
}
.ImgError {
	BACKGROUND-IMAGE: url(../img/error3.gif)
}
.ImgCheck {
	BACKGROUND-IMAGE: url(../img/check_green.gif)
}
.ImgCheck2 {
	BACKGROUND-IMAGE: url(../img/check.gif)
}
.timetable .tick {
	LIST-STYLE-IMAGE: url(../img/check.gif)
}
.ImgCheck3 {
	BACKGROUND-IMAGE: url(../img/check3b.gif)
}
.ImgHelp {
	BACKGROUND-IMAGE: url(../img/icon_help.gif)
}
.ImgHelp9 {
	BACKGROUND-IMAGE: url(../img/icon_help9.gif)
}
.arrowSmall {
	BACKGROUND-IMAGE: url(../img/arrowSmall.gif)
}
.imgLogo2 {
	BACKGROUND-IMAGE: url(../img/globe.gif)
}
.ImgSearchTab1 {
	BACKGROUND-IMAGE: url(../img/iconSearchTab1.gif)
}
.ImgSearchTab2 {
	BACKGROUND-IMAGE: url(../img/iconSearchTab2.gif)
}
.ImgSearchTab3 {
	BACKGROUND-IMAGE: url(../img/iconSearchTab3.gif)
}
.ImgSearchTab4 {
	BACKGROUND-IMAGE: url(../img/iconSearchTab4.gif)
}
.ImgSearchTab5 {
	BACKGROUND-IMAGE: url(../img/ImgSearchTab5.gif)
}
.ImgSearchTab1_2 {
	BACKGROUND-IMAGE: url(../img/iconSearchTab1_2.gif)
}
.ImgSearchTab4_2 {
	BACKGROUND-IMAGE: url(../img/iconSearchTab4_2.gif)
}
.ImgSearchTab5_2 {
	BACKGROUND-IMAGE: url(../img/iconSearchTab5_2.gif)
}
.ImgCal {
	BACKGROUND-IMAGE: url(../img/cal.gif)
}
.ImgMag {
	BACKGROUND-IMAGE: url(../img/mag.gif)
}
.ImgLookUp {
	BACKGROUND-IMAGE: url(../img/look_up.gif)
}
.ImgArrow {
	BACKGROUND-IMAGE: url(../img/icon_arrow.gif)
}
.ImgArrow2 {
	BACKGROUND-IMAGE: url(../img/icon_arrow.gif)
}
.ImgWeather {
	BACKGROUND-IMAGE: url(../img/rain.gif)
}
A.ImgFlexiArrow1 {
	BACKGROUND-IMAGE: url(../img/icon_arrow_flex4.gif)
}
A.ImgFlexiArrow1:hover {
	BACKGROUND-IMAGE: url(../img/icon_arrow_flex4a.gif)
}
.ImgFlexiArrow2 {
	BACKGROUND-IMAGE: url(../img/icon_arrow_flex3.gif)
}
.ImgFlexiArrow2Hover {
	BACKGROUND-IMAGE: url(../img/icon_arrow_flex3a.gif)
}
.ImgCornerBlank {
	BACKGROUND-IMAGE: url(../img/imgCornerBlank.gif)
}
.ImgCorner1 {
	BACKGROUND-IMAGE: url(../img/imgCorner5N.gif)
}
.ImgCorner2 {
	BACKGROUND-IMAGE: url(../img/imgCorner16N.gif)
}
.ImgCorner3 {
	BACKGROUND-IMAGE: url(../img/imgCorner17N.gif)
}
.ImgCorner4 {
	BACKGROUND-IMAGE: url(../img/imgCorner24N.gif)
}
.ImgCorner5 {
	BACKGROUND-IMAGE: url(../img/imgCorner19N.gif)
}
.ImgCorner1Tab {
	BACKGROUND-IMAGE: url(../img/imgCorner21.gif)
}
.ImgCorner2Tab {
	BACKGROUND-IMAGE: url(../img/imgCorner16.gif)
}
.ImgCorner3Tab {
	BACKGROUND-IMAGE: url(../img/imgCorner17.gif)
}
.ImgCorner4Tab {
	BACKGROUND-IMAGE: url(../img/imgCorner24.gif)
}
.ImgCorner5Tab {
	BACKGROUND-IMAGE: url(../img/imgCorner19.gif)
}
.ImgBgrdArrow1 {
	BACKGROUND-IMAGE: url(../img/imgBgrdArrow21.gif)
}
.ImgBgrdArrow2 {
	BACKGROUND-IMAGE: url(../img/imgBgrdArrow2.gif)
}
.ImgBgrdArrow3 {
	BACKGROUND-IMAGE: url(../img/imgBgrdArrow3.gif)
}
.ImgBgrdArrow4 {
	BACKGROUND-IMAGE: url(../img/imgBgrdArrow4.gif)
}
.ImgBgrdArrow5 {
	BACKGROUND-IMAGE: url(../img/imgBgrdArrow5.gif)
}
.ImgChicago {
	BACKGROUND-IMAGE: url(../img/chicago.gif)
}
.tableFlexPrice2 LI.line {
	BACKGROUND-IMAGE: url(../img/list_dot.gif)
}
.fdff_TFP LI.line {
	BACKGROUND-IMAGE: url(../img/list_dot.gif)
}
.ImgCorner_1Tab {
	BACKGROUND-IMAGE: url(../img/imgCorner_1b.gif)
}
.ImgCorner_2Tab {
	BACKGROUND-IMAGE: url(../img/imgCorner_2b.gif)
}
.ImgCorner_3Tab {
	BACKGROUND-IMAGE: url(../img/imgCorner_3b.gif)
}
.ImgCorner_4Tab {
	BACKGROUND-IMAGE: url(../img/imgCorner_4b.gif)
}
.ImgCorner_5Tab {
	BACKGROUND-IMAGE: url(../img/imgCorner_5b.gif)
}
.ImgCorner_EmptyTab {
	BACKGROUND-IMAGE: url(../img/imgCorner_empty.gif)
}
.ImgCorner_EmptyTabPromo {
	BACKGROUND-IMAGE: url(../img/imgCorner_emptyPromo.gif)
}
.ImgCorner_EmptyTabSaver {
	BACKGROUND-IMAGE: url(../img/imgCorner_emptySaver.gif)
}
.etpArrow {
	BACKGROUND-IMAGE: url(../img/arrowfdff1.gif)
}
.etpArrow2 {
	BACKGROUND-IMAGE: url(../img/arrowfdff2.gif)
}
.buttonOption A {
	BACKGROUND-IMAGE: url(../img/search_cars.gif)
}
.buttonOption A:visited {
	BACKGROUND-IMAGE: url(../img/search_cars.gif)
}
.buttonOption2 A {
	BACKGROUND-IMAGE: url(../img/search_hotels.gif)
}
.buttonOption2 A:visited {
	BACKGROUND-IMAGE: url(../img/search_hotels.gif)
}
.buttonPage A {
	BACKGROUND-IMAGE: url(../img/buttonBGRD.gif)
}
.buttonPage A:visited {
	BACKGROUND-IMAGE: url(../img/buttonBGRD.gif)
}
.buttonPage2 A {
	BACKGROUND-IMAGE: url(../img/buttonBGRD.gif)
}
.buttonPage2 A:visited {
	BACKGROUND-IMAGE: url(../img/buttonBGRD.gif)
}
.buttonPlain A {
	BACKGROUND-IMAGE: url(../img/buttonBGRD.gif)
}
.buttonPlain A:visited {
	BACKGROUND-IMAGE: url(../img/buttonBGRD.gif)
}
.buttonPlain2 A {
	BACKGROUND-IMAGE: url(../img/buttonBGRD.gif)
}
.buttonPlain2 A:visited {
	BACKGROUND-IMAGE: url(../img/buttonBGRD.gif)
}
.ImgPlane {
	BACKGROUND-IMAGE: url(../img/search_flights.gif)
}
.ImgPassenger {
	BACKGROUND-IMAGE: url(../img/search_paxGrey.gif)
}
.ImgCase {
	BACKGROUND-IMAGE: url(../img/search_trip.gif)
}
.ImgClock {
	BACKGROUND-IMAGE: url(../img/imgClock2.gif)
}
.ImgCart {
	BACKGROUND-IMAGE: url(../img/cart.gif)
}
.ImgPlane2Sdai {
	BACKGROUND-IMAGE: url(../img/plane2.gif)
}
.ImgPlane3Sdai {
	BACKGROUND-IMAGE: url(../img/plane3.gif)
}
.ImgPlane2Vpai {
	BACKGROUND-IMAGE: url(../img/plane2.gif)
}
.ImgPlane3Vpai {
	BACKGROUND-IMAGE: url(../img/plane3.gif)
}
.ImgPlane4 {
	BACKGROUND-IMAGE: url(../img/search_flights.gif)
}
.lineDots {
	BACKGROUND-IMAGE: url(../img/lineDots.gif)
}
.imgErrorBGRD {
	BACKGROUND-IMAGE: url(../img/imgError_bgrd.gif)
}
.divNumbTab {
	BACKGROUND-IMAGE: url(../img/iconIndbase.gif)
}
.fpcImgTabsArrow2 {
	BACKGROUND-IMAGE: url(../img/icon_arrow_flex4.gif)
}
.fpcImgTabsArrow2Hover {
	BACKGROUND-IMAGE: url(../img/icon_arrow_flex4a.gif)
}
.fpcImgTabsArrow1 {
	BACKGROUND-IMAGE: url(../img/icon_arrow_flex3.gif)
}
.fpcImgTabsArrow1Hover {
	BACKGROUND-IMAGE: url(../img/icon_arrow_flex3a.gif)
}
.tableFPCUpsell LI.line {
	BACKGROUND-IMAGE: url(../img/list_dot.gif)
}
#addHotel {
	BACKGROUND-IMAGE: url(../img/logo_opodo.gif)
}
#addHotel A {
	BACKGROUND-IMAGE: url(../img/icon_newWindow.gif)
}
.tableFFResultsSD LI.line {
	BACKGROUND-IMAGE: url(../img/list_dot.gif)
}
.ImgPerformance {
	BACKGROUND-IMAGE: url(../img/performance.gif)
}
.availHolderVP LI.line {
	BACKGROUND-IMAGE: url(../img/list_dot.gif)
}
